<h1>Pacjenci#index</h1>
<%= search_form_for @q do |f| %>
  <%= f.label :nazwisko_cont, "Nazwisko zawiera" %>
  <%= f.search_field :nazwisko_cont %>

  <%= f.label :plec_eq, "Płeć" %>
  <%= f.select :plec_eq, Pacjent.pluck(:plec).uniq, include_blank: true %>

  <%= f.submit "Filtruj" %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link @q, :nazwisko %></th>
      <th>Imie</th>
      <th><%= sort_link @q, :urodziny %></th>
      <th>Płeć</th>
      <th>Liczba zarezerwowanych wizyt</th>
    </tr>
  </thead>
  <tbody>
    <% @pacjents.each do |pacjent| %>
      <tr>
        <td><%= pacjent.nazwisko %></td>
        <td><%= pacjent.imie %></td>
        <td><%= pacjent.urodziny %></td>
        <td><%= pacjent.plec %></td>
        <td><%= link_to pacjent.appointments.count, pacjent_appointment_path(pacjent) %></td>
        <td><%= link_to 'Rezerwuj wizytę', new_appointment_path(pacjent_id: pacjent.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Statystyki urodzeń", urodzenia_statystyki_pacjents_path %>

<%== pagy_nav(@pagy) %>

