<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">NFZ</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><%= link_to 'Pacjenci', root_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Statystyka", urodzenia_statystyki_pacjents_path, class: 'nav-link' %></li>
      </ul>
</header>
<h1>Edycja wizyty pacjenta</h1>
<%= form_with(model: @appointment, url: appointment_path, method: :patch) do |form| %>
  <%= form.hidden_field :pacjent_id, value: @appointment.pacjent_id %>
<div class="form-inline">

  <div class="field">
      <%= form.label :doktor_id, 'Lekarz' %>
      <%= form.collection_select :doktor_id, Doktor.all, :id, :imie, class: 'custom-select my-1 mr-sm-2' %>
  </div>

  <div class="col">
    <div class="field">
      <%= form.label :data %>
      <%= form.datetime_local_field :date %>
    </div>

    <div class="field">
      <%= form.label :cena %>
      <%= form.text_field :cena %>
    </div>


    <div class="actions">
      <%= form.submit 'Zarezerwuj', class: 'btn btn-primary' %>
    </div>
</div>
<% end %>